<IfModule mod_rewrite.c>
	Options -Multiviews
	RewriteEngine On
	RewriteBase /tests/php/mvc/mediahouse/public
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>